.App {
  text-align: center;
  background: linear-gradient(45deg, silver, whitesmoke, silver, lightblue);
  padding: 5%;
  height: 800px;
}

.box-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 25px auto;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  background-color: red;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  padding: 10px;
}

input{
  text-align: center;
}